extends layout

block nav
   .navbar-header
            a.navbar-brand(href="/"+role) H2 - Health Help
            a.navbar-brand(href="/"+role+"/info") About
            a.navbar-brand(href='/') Logout
            button.navbar-toggle(type='button', data-toggle='collapse', datatarget='#navbar-main')
              span.icon-bar
              span.icon-bar
              span.icon-bar

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= title
        h3= patient
        h3= type
  .row
    .col-xs-12.col-sm-8
        .row.list-group
          - var json = JSON.parse(values)
          - for(var i = 0; i < json.length; i++)
            .col-xs-12.list-group-item
                p timestamp : #{json[i].timestamp.toString()}
                p doctorId : #{json[i].doctorId}
                p patientId : #{json[i].patientId}
                p advice : #{json[i].advice}

    a.btn.btnbtn.btn-large.btn-pull-right(href="/"+role) Back